/* Variables */

$background-color: #222831;
$light-grey: #363F4F;
$primary-color: #58A285;
$seconday-color: #CD4F4C;
$light-green: #5CD0A3;
$light-red: #E85956;
$text-color: #ffff;
$navbar-background: rgba(117, 166, 255, .3);
