
/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

    $font-family: 'Cairo', sans-serif;
    $fw-light: 300;
    $fw-regular: 400;
    $fw-semi-bold: 600;
    $fw-bold: 700;

    $font-size-h1: 2.5rem;
    $font-size-h2: 2.25rem;
    $font-size-h3: 1.25rem;
    $font-size-p: 1.3rem;
    $font-size-body: 1rem;

/* Responsive font sizes */

@media (min-width: 900px){ 
       
    $font-size-h1: 4.5rem;
    $font-size-h2: 3.75rem;
    $font-size-h3: 1.5rem;
    $font-size-body: 1.125rem; 

}