@use 'colors';
@use 'fonts';
@use 'animations';


/* Classes componete*/

.btn-primary{
    background-color: colors.$seconday-color;
    padding: 1.3rem 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    color: colors.$text-color;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    margin-bottom: 2rem;
    width: 80%;
    transition: background .2s ease-in-out;
    &:hover{
        background-color: #c04341;
        transition: background .2s ease-in-out;
    }
}



body{
    line-height: fonts.$font-size-body;
    font-family: fonts.$font-family;
    background: url('/imagens/bg.jpg') no-repeat, colors.$background-color;
    background-position: top 0px left -500px ;
}


/* Body Media Queries */

@media (min-width: 900px){
    body{
        background-size: cover;
        background: url('/imagens/bg.jpg') no-repeat, colors.$background-color;
        background-position: center top -350px;
    }
}

.header{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px 0 0 0;
}

.header-nav{
 background-color: colors.$navbar-background;
 padding: 1rem;
 border-radius: 3px;
 width: 300px;
 margin: 15px 0 0 0;
}

.header-nav__nav-links{
    display: flex;
    justify-content: space-evenly;
    
    a{
        color: colors.$text-color;
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover{
            color: colors.$light-green;
            transition: color .3s ease-in-out;
        }
    }
    
}


/*download*/

.download{
    margin: 50px 0 0 0;
    h1{
        font-size: fonts.$font-size-h2;
        color: colors.$primary-color;
        text-align: center;
    }

    p{
        font-size: fonts.$font-size-p;
        text-align: center;
        color: colors.$text-color;
        width: 80%;
        margin: 40px auto;
        line-height: 160%;
        letter-spacing: 1px;
    }
}




.download__cards-card{
    background-color: colors.$light-grey;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: 500px;
    margin: 0 auto 50px auto;
    border-radius: 5px;
    padding: 50px 0 0 0;
}

.download__card--body{
     text-align: center;

     img{
         width: 180px;
         height: auto;
     }

     h3{
         margin: 30px 0 0 0;
         font-size: 2.5rem;
         color: colors.$light-green;
     }

     p{
        margin: 40px auto;
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: colors.$text-color;
        text-align: center;
        width: 80%;
        letter-spacing: 1px;
     }
}

.equip__card--footer{
    background-color: #49576D;
    width: 100%;
    padding: 25px 0;
    border-radius: 0 0 5px 5px;
}


.card__footer--icons{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    margin: 0 auto;
    transition: all .2s ease-in-out;

}

.card__footer--icons a{
        transform: translateY(0px);
        transition: all .3s ease-in-out;

        &:hover{
            transform: translateY(-5px);
            transition: all .3s ease-in-out;
        }
}

.card__footer--icons a{
    color: colors.$text-color;
    font-size: 1.5rem;
}



/* download media queries */


@media (min-width: 900px){

    .download{
        margin-top: 100px;

        h1{
            font-size: 3rem;
            color: colors.$light-green;
        }

    }

    .download__cards{
        width: 80%;
        margin: 60px auto 100px auto;
        display: flex;
        flex-flow: wrap;
    }

    .download__cards-card{
        width: 46%;
        margin-bottom: 30px;
    }
}

@media (min-width: 1400px){
    .download__cards{
      width: 90%;
    }

    .download__cards-card{
        width: 380px;
    }
}

@media (min-width: 1600px){
    .download__cards{
    width: 80%;

    }

    .download__cards-card{
        width: 300px;
    }
}


@media (min-width: 1900px){
    .download__cards{
    width: 70%;

    }

    .download__cards-card{
        width: 400px;
    }
}

/* Footer Styles */

.footer{
    p{
        color: colors.$text-color;
        font-size: 1rem;
        letter-spacing: 1px;
        text-align: center;
    }
}

.footer__nav{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    width: 60%;
    margin: 0 auto;


    a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
        color: colors.$primary-color;
        transition: color .3s ease-in-out;

        &:hover{
            color: colors.$light-green;
            transition: color .2s ease-in-out;
        }
    }

}


/* Footer-nav Media Queries */

@media (min-width: 900px){
    .footer__nav{
        width: 30%;
    }
}

@media (min-width: 1400px){
    .footer__nav{
        width: 20%;
    }
}

/*=============================================
=            Scrollbar Styles            =
=============================================*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Background */
  ::-webkit-scrollbar-track {
    background-color: colors.$background-color;
  
  }
   
  /* Scroll bar handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(92,208,163);
background: linear-gradient(170deg, rgba(92,208,163,1) 0%, rgba(82,233,125,1) 73%, rgba(74,251,98,1) 100%);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  //::-webkit-scrollbar-thumb:hover {

  //}

/*=====  End of Scrollbar Styles  ======*/